In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame( {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

In [3]:
# Calculate the sum of each column
df.agg('sum')

A     6
B    15
dtype: int64

In [5]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
# Calculate the sum and mean of column 'A'
df['A'].agg(['sum', 'mean'])

sum     6.0
mean    2.0
Name: A, dtype: float64

In [7]:
# Apply different functions to different columns
df.agg({'A': 'sum', 'B': 'max'})

A    6
B    6
dtype: int64

In [11]:
df.agg('sum', axis=1)

0    5
1    7
2    9
dtype: int64