In [1]:
import pandas as pd
brics = pd.read_csv("brics.csv")
brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [3]:
# Select countries with area over 8 million km2
brics[brics['area'] > 8.0]

  Unnamed: 0 country   capital    area  population
0         BR  Brazil  Brasilia   8.516       200.4
1         RU  Russia    Moscow  17.100       143.5
3         CH   China   Beijing   9.597      1357.0

In [6]:
brics[brics['area'] > 8.0][['area']]

     area
0   8.516
1  17.100
3   9.597